
{% block form_block %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {% if message %}
            <div class="message">
                {{ message }}
            </div>
        {% endif %}
        {% if display_email %}
            {% for key, value in display_email.items %}
                {{ key }}:  {{ value }} <br/>
            {% endfor %}
        {% endif %}
        <form action="/send_inkling_mail" method="POST">
            {% csrf_token %}
            {%  for field in form.visible_fields %}
                <div class="field-container">
                    {{ field.label }}
                    <br />
                    {{ field }}
                    <br />
                </div>
            {% endfor %}
            <br />
            <input type="submit" value="Fake It" role="button"/>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}