
{% block form_block %}
<div class="row form-block">
    <!-- <div class="col-md-2"></div> -->
    <div class="container">
        <div id="instructions">
           <h2> Vestibulum quam diam, scelerisque at nisl sed, dictum tristique lacus. Sed ac aliquam lorem. Aenean sem felis, egestas nec scelerisque eget, feugiat non ligula. Sed nec varius velit. Etiam volutpat feugiat luctus.</h2>
        </div>
        <div id="form">
            {% if message %}
                <div class="message">
                    {{ message }}
                </div>
            {% endif %}
            {% if display_email %}
                {% for key, value in display_email.items %}
                    {{ key }}:  {{ value }} <br/>
                {% endfor %}
            {% endif %}
            <!-- <p>Some sort of message about using a real email or your purchase will be in vain. Perhaps two email fields and compare?</p> -->
            <form action="/pass_to_inkling/" method="post" id="user_form">
                {% csrf_token %}
                {%  for field in form.visible_fields %}
                    <div class="field-container form-group">
                        <label for="">{{ field.label }}</label>
                        <!-- <br /> -->
                        {{ field }}

                    </div>
                {% endfor %}
                <br/>
                <!--<input type="submit" value="test inkling post" role="button">-->

            </form>
            <img src="/static/images/ajaxloader.gif" id="loading_image">
        </div>
    </div>
    <!-- <div class="col-md-2"></div> -->
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {% if message %}
            <div class="message">
                {{ message }}
            </div>
        {% endif %}
        {% if display_email %}
            {% for key, value in display_email.items %}
                {{ key }}:  {{ value }} <br/>
            {% endfor %}
        {% endif %}
        <!--<input type="button" name="button" id="touchnet_post_btn" value="Begin touchnet post">-->
        <input type="button" name="Main Submit" id="main_submit" value="Begin">
        <img src="/static/images/ajaxloader.gif" id="loading_image">
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}