
{% block product_block %}

<div class="row">
    <h3 class="align_center">Product List</h3>
    <div class="col-md-2"></div>
        {% for product in product_list %}
            <div class="product-listing col-md-2">
                <img src="{{ product.cover_image.url }}" class="cover-image"/>
                <br>
                {{ product.title }}
                by
                {{ product.author }}
                <br>
                {{ product.price }}
                <br>
                {{ product.description }}
                <br>
            </div>
        {% endfor %}
    <div class="col-md-2"></div>
</div>
{% endblock %}