
{% block product_block %}
<div class="row featured">
    <div class="col-md-2"></div>
        <div class="col-md-8 jumbotron">
            <div class="featured-image"> <!-- featured product image here as div background --> </div>
            <!-- <img src="/static/images/nmh_final_cover_300px.png"> -->
            <div class="featured-copy">
                <h3>The History of New Mexico</h3>
                <p>Isn't it fantastic that you can change your mind and create all these happy things? In your imagination you can go anywhere you want. A thin paint will stick to a thick paint. In painting, you have unlimited power. You have the ability to move mountains. You can bend rivers. But when I get home, the only thing I have power over is the garbage.</p>
            </div>
        </div>
    <div class="col-md-2"></div>
</div>
<div class="row product-list">
    <h5>Product List</h5>
    <p>Dummy product list that won't be there at launch but needs to be there for later</p>
    <div class="col-md-2"></div>
        {% for product in product_list %}
           <div class="col-md-2">
                <img src="{{ product.cover_image.url }}" class="cover-image"/>
                <br>
                {{ product.title }}

                <br>
                {{ product.author }}
                <br>
                Available to:
                {{ product.availability }}
                <br>
                {{ product.price }}
                <br>
                {{ product.description }}
                <br>
                <!--<input type="hidden" name="{{ product.short_name }}hidden_price" id="{{ product.short_name }}hidden_price" value="{{ product.price }}">-->
            </div>
        {% endfor %}
        {{ price_dict }}
    <div class="col-md-2"></div>
</div>
{% endblock %}



