

#content {
    padding: 20px 20px 20px 20px;


}

#id_department {
 font-size: 26px;
}

.align_center {
    text-align: center;
}
h1{
    text-align: center;
}

footer {
    color: white;
    background-color: #003A70;
    border-top: 3px solid #F6BE00;
    width: 100%;
}

@media (max-width: 580px) {
 input {
     height: 34px;
     width: 80%;
 }
 form {
     font-size: 20px;
 }
}

@media (max-width: 990px) {
    h1 {
        text-align: left;
    }
}

body {
   /*background-color: #fcf8e5;*/
}

#loading_image {
    display: none;
}


.cover-image {
    height: 120px;
    width: 80px;
}

body {
    font-family: 'Lato', sans-serif;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.row {
    margin: 0;
}

.product-listing {
    display: inline-block;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid gray;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.row .jumbotron .featured-copy{

}

.form-block {
    background-color: #5bc0de;
}

.product-list {
    background-color: #3071a9;
}

#header {

    // background-color: #003A70;
    padding: 3px 3px 3px 3px;
    height: 68px;
    border-bottom: 4px solid #41b6e6;
    z-index: 1;

    .transparent-background {
        width: 100%;
        height: 71px;
        background: rgba(0,0,0,0.5);
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }

    img {
        height: 60px;
        width: auto;
    }
}

.row {
    &.featured {
        margin-top: -68px;
        z-index: -1;
        background-color: #252525;
        background-image:   linear-gradient(    rgba(0, 0, 0, 0.2), 
            rgba(0, 0, 0, 0.45), 
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.2) 
            ), 
        url('../images/bg-MILEgateway02.jpg');
        p {
            font-weight: 300;
        }
    }

    .jumbotron {
        margin-top: 68px;
        color: #fff;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .featured-copy {
            max-width: 300px;
            h3 {
                font-family: 'Oswald', sans-serif; 
                font-size: 2em;
            }
        }
        .featured-image {
            min-height: 140px;
            max-width: 300px;
            // background-image: url("/static/images/nmh_final_cover_mobile.png");
            // background-repeat: no-repeat;
            background-size: cover;
            flex-grow: 1;
        }        
        .cover-image {
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}    

p {
    font-family: 'Merriweather', serif;
}

@media screen and (max-width: 415px) {
    .row {
        .jumbotron {
            .cover-image {
                min-width: 260px;
                
                &.desktop-image { background-image: none !important}
                &.phone-image { display: block }

            }
        }
    }    
}



@media screen and (min-width: 768px) {
    .row {
        .jumbotron{
            flex-direction: row;

            .cover-image {
                // background-image: url("/static/images/nmh_final_cover_300px.png");
                display: none;
                min-width: 300px;
                height: 400px;
                background-size: contain;

                &.desktop-image { display: block}
                &.phone-image { background-image: none !important }
            }
            .featured-copy {
                margin-left: 40px;
                // padding-top: 20px;
                font-size: 18px;
                flex-grow: 1;
                max-width: none;
                h3{
                    font-size: 28px;
                }                
                p {
                    font-size: 1em;
                    text-shadow: 0px 0px 5px rgba(25, 25, 25, .8);
                }
            }

            .featured-image {

                margin-top: 20px;
            }
        }
    }
}
