#content {
  padding: 20px 20px 20px 20px; }

#id_department {
  font-size: 26px; }

.align_center {
  text-align: center; }

h1 {
  text-align: center; }

footer {
  color: white;
  background-color: #003A70;
  border-top: 3px solid #F6BE00;
  width: 100%; }

body {
  background-color: #252525;
  color: #fff;
  font-family: 'Merriweather', serif; }

#loading_image {
  display: none; }

body {
  font-family: 'Lato', sans-serif; }

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.row {
  margin: 0; }

#header {
  padding: 3px 3px 3px 3px;
  height: 68px;
  border-bottom: 4px solid #41b6e6;
  z-index: 1; }
  #header .transparent-background {
    width: 100%;
    height: 71px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0; }
  #header img {
    height: 60px;
    width: auto; }

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0; }
  .navbar-inverse img {
    height: 62px; }

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif; }

.row {
  padding: 38px 0; }
  .row .product-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
    .row .product-list .product {
      width: 100%;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      .row .product-list .product .cover-image {
        height: auto;
        width: 100%;
        border: 1px solid #fff; }
        .row .product-list .product .cover-image.desktop-image {
          display: none; }
        .row .product-list .product .cover-image.phone-image {
          display: block; }
  .row.featured {
    margin-top: -68px;
    z-index: -1;
    background-color: #252525;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.2)), url("../images/bg-MILEgateway02.jpg"); }
    .row.featured p {
      font-weight: 300; }
  .row .jumbotron {
    margin-top: 130px;
    color: #fff;
    background-color: transparent;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0px;
    padding: 0; }
    .row .jumbotron .container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto; }
    .row .jumbotron .featured-copy {
      max-width: 100%;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
      .row .jumbotron .featured-copy h3 {
        font-size: 1.5em; }
      .row .jumbotron .featured-copy p {
        font-size: 1em; }
    .row .jumbotron .featured-image {
      min-height: 140px;
      max-width: 400px;
      background-size: cover;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .row .jumbotron .cover-image {
      background-repeat: no-repeat;
      background-size: cover; }
  .row.form-block {
    background-color: #5bc0de; }
    .row.form-block .container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }

p {
  font-family: 'Merriweather', serif; }

@media screen and (max-width: 415px) {
  .row .jumbotron .cover-image {
    min-width: 260px;
    width: 100%;
    height: auto; }
    .row .jumbotron .cover-image.desktop-image {
      display: none; }
    .row .jumbotron .cover-image.phone-image {
      display: block; } }

@media screen and (min-width: 415px) {
  .row .product-list {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    .row .product-list .product {
      max-width: 200px;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      padding: 5px; }
      .row .product-list .product .cover-image {
        max-width: 200px; }
        .row .product-list .product .cover-image.desktop-image {
          display: block; }
        .row .product-list .product .cover-image.phone-image {
          display: none; }
  .row .jumbotron {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 105px; }
    .row .jumbotron .container {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
    .row .jumbotron .featured-copy {
      margin-left: 40px;
      font-size: 18px;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: 50%;
      max-width: 800px; }
      .row .jumbotron .featured-copy h3 {
        font-size: 28px; }
      .row .jumbotron .featured-copy p {
        font-size: 1em;
        text-shadow: 0px 0px 5px rgba(25, 25, 25, 0.8); }
    .row .jumbotron .featured-image {
      margin-top: 20px;
      border: 2px solid #fff;
      width: 50%;
      max-width: 304px; }
      .row .jumbotron .featured-image .cover-image {
        display: none;
        width: 300px; }
        .row .jumbotron .featured-image .cover-image.desktop-image {
          display: block; }
        .row .jumbotron .featured-image .cover-image.phone-image {
          display: none; }
  .row.form-block .container {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .row.form-block .container #instructions {
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .row.form-block .container #form {
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; } }
