#content {
  padding: 20px 20px 20px 20px; }

#id_department {
  font-size: 26px; }

.align_center {
  text-align: center; }

h1 {
  text-align: center; }

footer {
  color: white;
  background-color: #003A70;
  border-top: 3px solid #F6BE00;
  width: 100%; }

@media (max-width: 580px) {
  input {
    height: 34px;
    width: 80%; }
  form {
    font-size: 20px; } }

@media (max-width: 990px) {
  h1 {
    text-align: left; } }

body {
  background-color: #252525;
  color: #fff;
  font-family: 'Merriweather', serif; }

#loading_image {
  display: none; }

.cover-image {
  height: 120px;
  width: 80px; }

body {
  font-family: 'Lato', sans-serif; }

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.row {
  margin: 0; }

.black_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80); }

.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid gray;
  background-color: white;
  z-index: 1002;
  overflow: auto; }

#header {
  padding: 3px 3px 3px 3px;
  height: 68px;
  border-bottom: 4px solid #41b6e6;
  z-index: 1; }
  #header .transparent-background {
    width: 100%;
    height: 71px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0; }
  #header img {
    height: 60px;
    width: auto; }

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.5); }
  .navbar-inverse img {
    height: 62px; }

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif; }

.row .product-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  .row .product-list .product {
    width: 100px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 5px; }

.row.featured {
  margin-top: -68px;
  z-index: -1;
  background-color: #252525;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.2)), url("../images/bg-MILEgateway02.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.2)), url("../images/bg-MILEgateway02.jpg"); }
  .row.featured p {
    font-weight: 300; }

.row .jumbotron {
  margin-top: 130px;
  color: #fff;
  background-color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0px; }
  .row .jumbotron .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
    padding-right: 0px; }
  .row .jumbotron .featured-copy {
    max-width: 300px; }
    .row .jumbotron .featured-copy h3 {
      font-size: 1.5em; }
    .row .jumbotron .featured-copy p {
      font-size: 1em; }
  .row .jumbotron .featured-image {
    min-height: 140px;
    max-width: 300px;
    background-size: cover;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .row .jumbotron .cover-image {
    background-repeat: no-repeat;
    background-size: cover; }

.row.form-block {
  background-color: #5bc0de; }
  .row.form-block .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

p {
  font-family: 'Merriweather', serif; }

@media screen and (max-width: 415px) {
  .row .jumbotron .cover-image {
    min-width: 260px; }
    .row .jumbotron .cover-image.desktop-image {
      background-image: none !important; }
    .row .jumbotron .cover-image.phone-image {
      display: block; } }

@media screen and (min-width: 768px) {
  .row {
    padding-top: 10px;
    padding-bottom: 10px; }
    .row.product-list {
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap; }
    .row .jumbotron {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-top: 105px; }
      .row .jumbotron .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row; }
      .row .jumbotron .cover-image {
        display: none;
        min-width: 300px;
        height: 400px;
        background-size: contain; }
        .row .jumbotron .cover-image.desktop-image {
          display: block; }
        .row .jumbotron .cover-image.phone-image {
          background-image: none !important; }
      .row .jumbotron .featured-copy {
        margin-left: 40px;
        font-size: 18px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        max-width: none; }
        .row .jumbotron .featured-copy h3 {
          font-size: 28px; }
        .row .jumbotron .featured-copy p {
          font-size: 1em;
          text-shadow: 0px 0px 5px rgba(25, 25, 25, 0.8); }
      .row .jumbotron .featured-image {
        margin-top: 20px; }
    .row.form-block .container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .row.form-block .container #instructions {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
      .row.form-block .container #form {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; } }
